PROFILES_SERVER_NAME=localhost:8080 

DEBUG=true

PROFILES_OIDC_CLIENT_ID=profiles-dev
PROFILES_OIDC_CLIENT_SECRET=
PROFILES_OIDC_LOGOUT_REDIRECT_URI=http://localhost:8080/logout

LDAP_BIND_DN=uid=yourusername,cn=users,cn=accounts,dc=csh,dc=rit,dc=edu
LDAP_BIND_PASS=

DATADOG_ENV=local
DATADOG_APP_VERSION=unset
