requests~=2.26.0
csh_ldap~=2.3.1
flask~=2.0.2
flask_sqlalchemy~=2.5.1
flask_migrate~=3.1.0
flask-pyoidc~=3.8.0
flask-optimize==0.2.9.8
PyMySQL~=1.0.2
pyGravatar==0.0.6
git+https://github.com/maxcountryman/flask-uploads@f66d7dc93e684fa0a3a4350a38e41ae00483a796
pylint~=2.11.1
pillow~=8.4.0
sentry-sdk[flask]~=1.4.3
werkzeug~=2.0.2
