csh-ldap @ git+https://github.com/ComputerScienceHouse/csh_ldap@2.5.0
ddtrace==3.15.0
Flask==3.1.2
Flask-Migrate==4.1.0
Flask-pyoidc==3.14.3
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
pip-tools==7.5.1
PyMySQL==1.1.2
pyGravatar==0.0.6
git+https://github.com/maxcountryman/flask-uploads@master
pylint==3.3.9
pillow==11.3.0
requests==2.32.5
sentry-sdk[flask]==2.39.0
markupsafe==3.0.3
Werkzeug==3.1.3
