csh_ldap~=2.4.0
ddtrace~=1.1.4
Flask==1.1.4
Flask-Migrate==3.1.0
flask-optimize==0.2.9.8
Flask-pyoidc==3.13.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
pip-tools~=6.6.2
PyMySQL==1.0.2
pyGravatar==0.0.6
git+https://github.com/maxcountryman/flask-uploads@master
pylint~=2.13.9
Pillow==8.4.0
requests~=2.27.1
sentry-sdk[flask]~=1.5.12
markupsafe==2.0.1
Werkzeug==0.16.0
