.card-custom-wide-img {
  height: 130px;
  background-image: url("/static/assets/images/diamonds-light.png");
  transition: all 0.5s ease;
}

.card-custom-wide .card-custom-avatar img {
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 43.3%;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
}

.card-custom-wide .card-body {
  padding-top: 50px;
}

.profile-img {
	height: 250px;
	width: 250px;
}

.card-img-top-crop {
  	width: 15rem;
  	height: 200px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	overflow: hidden;
}

.user-card {
	width: 15rem;
}

.active {
	color: #ccc;
}

.card-profile-pic {
	margin:auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.dropdown-menu {
	max-height: 20em;
	overflow-y: auto;
}

.badge {
	font-size: 85%;
  font-weight: 600;
}

#search-field {
	font-size: 13px !important;
}

.user-form-input {
	display: none;
}

body {
	padding-top: 80px;
	/* background-color: #eee; */
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

/* LDAP ROLE BADGES */

.badge-current-student {
  color: #fff;
  background-color: #bbb;
}
.badge-rtp {
  color: #fff;
  background-color: #ff9800;
}

.badge-eboard {
  color: #fff;
  background-color: #4caf50;
}

.badge-constitutional-maintainer {
  color: #fff;
  background-color: #e51c23;
}
.badge-3da {
  color: #fff;
  background-color: #cb42a9;
}

.badge-drink {
  color: #fff;
  background-color: #b0197e;
}

.badge-webmaster,
.badge-devcade,
.badge-mediapc {
  color: #fff;
  background-color: #2196f3;
}

.badge-wiki {
  color: #fff;
  background-color: #b19cd9;
}

.badge-segfault {
	color: #000;
	background-color: #ffffff; 
	font-family: "Comic Sans MS", "Comic Sans", cursive; 
}

.badge-disabled {
  color: #fff;
  background-color: #181818;
}

.badge-misc {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-secondary-text);
}

.color-twitter-blue {
  color: #00aced;
}

.color-gh-purple {
  color: #6e5494;
}

.profile-link,
.profile-link:hover,
.profile-link:visited {
  color: #222;
}
