 .card-custom-wide {
  overflow: hidden;
  border: 0;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.card-custom-wide-img {
  height: 130px;
  background-image: url("/static/assets/images/diamonds-light.png");
  transition: all 0.5s ease;
}

.card-custom-wide .card-custom-avatar img {
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 43.3%;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
}

.card-custom-wide .card-body {
  padding-top: 50px;
}

.img-circle {
	border-radius: 50%;
}

.profile-img {
	height: 250px;
	width: 250px;
}

.card-img-top-crop {
  	width: 15rem;
  	height: 200px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	overflow: hidden;
}

.user-card {
	width: 15rem;
}

.active {
	color: #ccc;
}

.card-profile-pic {
	margin:auto; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#groups {
	padding-top: .9rem;
	padding-bottom: 0;
}

.badge {
	font-size: 85%;
}

body {
	padding-top: 80px;
	background-color: #eee;
}

a {
	color: #222;
	text-decoration: none;
}

a:link {
	color: #222;
    	text-decoration: none;
}

a:visited {
	color: #222;
    	text-decoration: none;
}

a:hover {
	color: #222;
    	text-decoration: none;
}

a:active {
	color: #222;
    	text-decoration: none;
}
