.card-custom-wide-img {
  height: 130px;
  background-image: url("/static/assets/images/diamonds-light.png");
  transition: all 0.5s ease;
}

.card-custom-wide .card-custom-avatar img {
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 43.3%;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
}

.card-custom-wide .card-body {
  padding-top: 50px;
}

.img-circle {
	border-radius: 50%;
}

.profile-img {
	height: 250px;
	width: 250px;
}

.card-img-top-crop {
  	width: 15rem;
  	height: 200px;
  	background-position: center center;
  	background-repeat: no-repeat;
  	overflow: hidden;
}

.user-card {
	width: 15rem;
}

.active {
	color: #ccc;
}

.card-profile-pic {
	margin:auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.dropdown-menu {
	max-height: 20em;
	overflow-y: auto;
}

.badge {
	font-size: 85%;
}

.form-control-sm {
	font-size: 13px !important;
}

.user-form-input {
	display: none;
}

body {
	padding-top: 80px;
	background-color: #eee;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.badge-pink {
  color: #fff;
  background-color: #cb42a9;
}

.badge-purple {
  color: #fff;
  background-color: #b19cd9;
}

.profile-link,
.profile-link:hover,
.profile-link:visited {
  color: #222;
}
